.userDetail_right_md {
  margin-top: 30px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  width: 70%;
  max-width: 1100px;
  padding-right: 10px;
}
.auth_user_detail_card {
  box-shadow: 0px 3px 10px #00000029;
  border-radius: 5px;
  padding: 20px;
  height: max-content;
  width: 500px;
}
.auth_UD_card p,
.auth_UD_card h6 {
  margin-bottom: 0px;
  /* font-size: .9rem; */
  /* font-weight: bold; */
}
.ud_Name {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.U_name_id {
  margin-left: 10px;
}
.U_name_id > p {
  margin-top: 10px;
}
.ud_user_more_detail {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.ud_more_info p {
  font-size: 0.8rem;
  color: #9ba3cc;
  margin-top: 8px;
}
.ud_more_info h6 {
  color: #001758;
  font-size: .9rem;
}
.ud_info {
  margin-left: 50px;
}
.orng_btn {
  outline: none;
  border: none;
  padding: 6px 30px;
  background-color: #ed9f10;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  color: white;
  margin-right: 20px;
}
.red_btn {
  outline: none;
  border: none;
  padding: 6px 30px;
  background-color: #dc1e25;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  color: white;
  
}

@media screen and (max-width:1200px){
  .auth_user_detail_card{
    width: 380px;
  }
  .ud_info{
    margin-left: 20px;
  }
  .ud_more_info h6{
    font-size: .8rem;
  }
}
@media screen and (max-width:1050px){
  .userDetail_right_md{
      margin-top: 90px;
      margin-bottom: 30px;
      width: 90%;
  }
}
@media screen and (max-width:780px){
  .userDetail_right_md{
    justify-content: center;
    flex-wrap: wrap;
  }
  .userDetail_right_md .auth_ud_btns{
    margin-top: 20px;
  }
}
@media screen and (max-width:430px){
  .auth_UD_card>h6{
    text-align: center;
  }
  .userDetail_right_md{
    width: 100%;
    margin: 80px auto;
    margin-bottom: 20px;
    padding: 0px;
  }
  .ud_Name{
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .auth_user_detail_card{
    width: 92%;
  }
  .userDetail_right_md .auth_ud_btns{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .userDetail_right_md .auth_ud_btns button{
    width: 180px;
    margin-top: 15px;
    margin-right: 0px ;
  }
  .auth_user_detail_card{
    padding: 20px 10px;
  }
}
@media screen and (max-width:380px){
  
  .ud_more_info h6{
    font-size: .62rem;
    font-weight: bold;
  }
  .ud_more_info p{
    font-size: .6rem;
  }
}
