.do_card_container > div > img {
  text-align: center !important;
  margin: 0px auto !important;
  margin-top: 10px !important;
}
.do_card_container {
  /* border: 2px saddlebrown solid; */
  width: fit-content;
  box-shadow: 0px 0px 5px gainsboro;
  /* margin-top: 30px; */
  margin: 25px 15px;
  margin-bottom: 0px;
}
.myCcard {
  border: none !important;
  padding: 0px 20px;
  width: 300px !important;
}
.do_card_para {
  color: var(--text-lightgray) !important;
  font-size: 0.9em !important;
}

/* recent issue card css  */

.slick_slider,
.slick_slider_survey {
  width: 100% !important;
  margin: 0px auto;
  padding: 10px 30px;
}
.slick-next,
.slick-prev {
  width: 50px !important;
  height: 50px !important;
}
.home_issue {
  width: 300px !important;
}
.home_issue {
  margin-left: 25px;
  /* margin: 0px auto; */
}
.user_card_detail_div {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.9em;
  color: #8994b0;
}
.user_card_detail_div > div {
  display: flex;
}
.user_card_detail_div > div > img {
  width: 25px;
  height: 25px;
}
.user_card_detail_div > div > p {
  margin-left: 5px;
  /* margin-top: 5px; */
}
.card_title_div {
  text-align: center;
  padding-top: 15px;
  /* margin-bottom: 0px !important; */
}
.issue_card_body,
.issue_card_body > p {
  /* border: 2px solid rgb(141, 74, 74); */
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  font-size: 0.9em;
  color: #8994b0;
}

/* proposal card  */

.proposal_card_container {
  /* text-align: center; */
  width: fit-content;
  /* padding: 20px; */
  font-size: 0.9em;
}

.duration_div {
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-around;
}
.proposal_card {
  /* border: 2px solid red; */
  padding: 10px 15px;
  padding-bottom: 20px;
  margin: 15px 20px;
  border: none !important;
  box-shadow: 0px 0px 5px gainsboro;
  width: 400px !important;
  /* margin: 10px auto; */
  text-align: start;
}
.ongoin {
  padding-left:5px;
  padding-right: 10px;
  margin-left: 0px !important;
}
.location_div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.location_div > img {
  height: 20px;
}
.location_div > p {
  /* margin-top: 5px; */
  margin-left: 10px;
}
.proposal_card_head {
  margin-top: 10px;
}
.duration_date {
  font-size: 0.7em;
}
.duration_grn {
  color: #1cc1a0;
  font-size: 1.1em;
  font-weight: 600;
}
.main_line {
  margin-top: -10px !important;
  margin-bottom: 20px;
}
.back_clr {
  border: 2px solid gainsboro;
  background-color: rgb(160, 160, 160);
  margin-left: -8px !important;
}
.progres_line {
  border: 2px solid #1cc1a0;
}
.progress_div {
  display: flex;
  justify-content: space-between;
}
.percnt {
  color: #1cc1a0;
}
.proposal_btn {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin-top: 20px;
}

/* survey card css  */

.survey_card {
  width: 400px !important;
  font-size: 0.9em;
  padding: 10px 25px;
  box-shadow: 0px 2px 5px gainsboro;
  border: none !important;
  margin: 10px;
}
.survey_main_time_div {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 10px;
}
.survey_main_time_div > div > img {
  text-align: center !important;
  margin: 5px auto;
}
.survey_llocation {
  /* border-bottom: 1px solid #bdc3d3; */
  /* padding: 5px 30px; */
  margin-bottom: 0px !important;
  /* padding-bottom: 0px; */
  color: #8994b0;
  /* width: 150px; */
}
hr {
  width: 300px;
  /* display: inline; */
  margin: 5px auto !important;
  /* margin-left: 30px !important; */
  /* left: 200px; */
}
.survey_time {
  font-size: 0.8em;
  margin-top: 10px;
  margin-bottom: 0px !important;
}
.survey_grn {
  color: #1cc1a0;
  font-size: 0.8;
  margin-top: 0px !important;
}

/* blog card css  */

.blog_card_div {
  display: flex;
  justify-content: space-between;
  width: 620px;
  flex-wrap: wrap;
}
.blog_user_card_detail_div {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
}
.blog_card_div > .card {
  padding: 0px;
  border: 0px;
}
.blog_user_card_detail_div > div {
  /* display: flex; */
  margin-left: 10px;
}
.blog_user_card_detail_div > img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.bloger_name {
  margin: 0px;
  font-weight: 600;
  color: var(--text-darkblue);
}
.bloger_email {
  font-size: 0.7em;
  margin: 0px;
  color: var(--text-lightpurple);
}
.blog_data_div {
  text-align: center;
  color: #babfdc;
  font-size: 0.7em;
}
.blog_card_body {
  font-size: 0.75em;
  padding-left: 5px !important;
  padding-right: 5px !important;
  color: var(--text-darkgray) !important;
  padding-bottom: 5px !important;
}
.read_more_div {
  text-align: right;
  padding: 0px 10px;
}
.read_more_div {
  /* margin: 0px; */
  margin-bottom: 10px;
}
.read_link {
  /* margin-left: -10px; */
  font-size: 0.9em;
  text-decoration: none;
  font-weight: 600;
  color: #0553bb;
}

@media screen and (max-width: 1125px) {
  .slick_slider,
  .slick_slider_proposal {
    width: 80% !important;
    margin: 0px auto;
    padding: 10px 10px;
    text-align: center;
  }
  .home_issue {
    margin: 0px auto !important;
  }
  .slick_slider_survey {
    width: 80% !important;
    text-align: center;
  }
  .proposal_card,
  .survey_card {
    width: 300px !important;
    margin-left: 20px;
  }
  .survey_card {
    padding: 15px;
  }
  hr {
    width: 200px;
  }
}

@media screen and (max-width: 920px) {
  .survey_card_div {
    width: 100%;
  }
  .slick_slider_survey {
    width: 90% !important;
  }
}

@media screen and (max-width: 800px) {
  .proposal_card {
    width: 400px !important;
  }
}

@media screen and (max-width: 600px) {
  .myCcard {
    width: 220px !important;
    margin-bottom: 10px;
  }
  .myCcard .card-body {
    padding: 0px;
  }
  /* .whatwedo_cards_div{
       border: 2px solid red;
   } */
  .myCcard h5 {
    font-size: 1.1em;
  }
  .myCcard img {
    width: 70px !important;
  }
  .proposal_card {
    width: 350px !important;
  }
  .proposal_card .proposal_Card_title {
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: row;
  }
}
@media screen and (max-width: 500px) {
  .myCcard {
    width: 180px !important;
    margin-bottom: 10px;
    padding: 15px 5px;
  }
  .myCcard h5 {
    font-size: 1em;
  }
  .myCcard p {
    font-size: 0.8rem !important;
  }
  .myCcard img {
    width: 50px !important;
  }
  .do_card_container {
    margin: 10px 8px;
  }
  .home_issue {
    width: 230px !important;
    padding: 0px !important;
  }
  .survey_card {
    width: 270px !important;
    padding: 15px 5px;
  }
  .survey_card .survey_grn,
  .survey_time {
    font-size: 0.8rem;
  }
  .slick_slider_proposal {
    width: 85% !important;
  }
  .proposal_card {
    width: 320px !important;
    margin: 0px;
  }
  .proposal_card .proposal_Card_title {
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: row;
  }
}
@media screen and (max-width: 430px) {
  .survey_card {
    width: 230px !important;
    padding: 15px 5px;
  }
  .survey_card .survey_grn,
  .survey_time {
    font-size: 0.7rem;
  }
  .proposal_card p {
    font-size: 0.8rem;
  }
  .proposal_card {
    width: 280px !important;
    margin: 0px;
    padding: 10px;
  }
  .proposal_card h5 {
    font-size: 1.1rem;
    margin-top: 6px;
  }
  .proposal_btn {
    font-size: 0.9rem;
  }
  .home_issue p {
    font-size: 0.8rem;
  }
  .proposal_card .voice_heard_btn_white {
    width: 110px;
    font-size: 0.8rem;
  }
  .ongoing_btn_div img {
    left: 5px;
    top: 10px;
  }
  .proposal_card_user .card-text {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 400px) {
  .myCcard {
    width: 250px !important;
    margin-bottom: 10px;
    padding: 15px 5px;
  }
  .myCcard h5 {
    font-size: 1.1em;
  }
  .myCcard p {
    font-size: 0.9rem !important;
  }
  .myCcard img {
    width: 80px !important;
  }
  .do_card_container {
    margin: 10px 8px;
  }
  .home_issue {
    width: 220px !important;
    padding: 0px !important;
  }
  .slick_slider,
  .slick_slider_survey {
    width: 90% !important;
  }
  .slick_slider_survey {
    padding: 0px;
  }
  .slick-next,
  .slick-prev {
    width: 35px !important;
    height: 35px !important;
  }
}

@media screen and (max-width: 360px) {
  .proposal_card {
    width: 250px !important;
    margin: 0px;
    padding: 10px;
  }
  .proposal_card .proposal_Card_title {
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: column;
  }
  .ongoing_btn_div img {
    left: 70px;
    top: 10px;
  }
  .home_proposal_card_loc {
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
}
