/* profile page main  */

.main_profile_com {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  margin: 30px 150px;
}
.posts_btn_div {
  display: flex;
}
.posts_ccard_div {
  margin-top: 50px;
  width: 700px;
  padding-left: 10px;
  margin-left: 10px;
}
.ongoing_btn_div2{
  margin-top: 10px;
}
.profile_proposal_conatiner .duration_grn,.list_profile_proposal .duration_grn{
  color: #001758 !important;
}
.width {
  width: 13rem;
  margin-left: 5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #001758;
}
.your_post_btn {
  background-color: var(--bg-white);
  padding: 7px 30px;
  color: #34b299;
  font-weight: 600;
  box-shadow: 0px 2px 5px gainsboro;
  border-radius: 3px;
}
.btn_left {
  margin-left: 15px;
}
.head_div {
  margin-top: 50px;
}
.head_div > p > strong {
  color: #34b299;
}
.reportProblm_btn {
  background-color: #34b299;
  padding: 7px 30px;
  color: var(--bg-white);
  font-weight: 600;
  box-shadow: 0px 2px 5px gainsboro;
  margin-left: 10px;
  border-radius: 3px;
}

.your_issues_card_div {
  margin-top: 10px;
}
.list_card_veiw {
  text-align: right;
}
.width_proposal {
  width: 330px;
}

.grn_bg {
  background-color: #34b299;
  padding: 7px 30px;
  color: var(--bg-white);
  font-weight: 600;
  box-shadow: 0px 3px 10px gainsboro;
  border-radius: 3px;
}

/* profile proposal card  */

.profile_proposal_conatiner {
  display: flex;
  justify-content: space-between;
}
.profile_proposal_card {
  width: 20rem;
  background-color: #f4f5f9;
  padding: 5px 15px;
  border: none !important;
  border-radius: 8px;
  box-shadow: 0px 0px 5px gainsboro;
  text-align: center;
  margin-top: 20px;
}

.head_div_grid {
  position: relative;
}
.head_div_grid > .tagle_div {
  position: relative;
}
.head_div_grid > .tagle_div > img {
  position: absolute;
  right: 1px;
  top: -25px;
}
.edit_div_2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 15px;
  background-color: var(--bg-white);
  box-shadow: 0px 0px 5px gainsboro;
  border-radius: 9px;
  right: -120px;
  top: -18px;
}
.edit_div_2 > .edit_img {
  width: 70px;
  height: 22px;
  margin: 0px;
}

.list_profile_proposal {
  width: 680px;
  padding: 10px;
  text-align: start;
  background-color: #f4f5f9;
  border: none !important;
  border-radius: 8px;
  box-shadow: 0px 0px 5px gainsboro;
  margin-top: 20px;
}
.profile_duration_div > div > p {
  margin-bottom: 0px;
}
.head_profile_proposal {
  display: flex;
  justify-content: space-between;
}
.profile_proposal_loc_div {
  text-align: start !important;
  display: flex;
  justify-content: flex-start !important;
}
.profile_proposal_loc_div > p {
  margin-bottom: 10px;
  font-size: 0.9em;
  color: #5F677C;
  font-weight: 600;
}
.profile_proposal_loc_div > img {
  margin-top: 2px;
}
/* profile card css  */
.textGrey {
  color: var(--text-lightgray) !important;
}

.profile_card_main_div {
  width: 380px;
  background-color: #f4f5f9;
  border-radius: 8px;
  box-shadow: 0px 0px 8px gainsboro;
  padding: 15px;
  margin-top: 50px;
}
.redeem_card_maindiv > p {
  color: #2c2c2c !important;
}
.user_name_div {
  display: flex;
  justify-content: center;
}
.userInfo {
  text-align: center;
  width: 370px;
}
.userInfo > p {
  color: #7b8193;
  margin: 0px;
  margin-left: 40px;
}
.userInfo > h5 {
  margin-bottom: 0px;
  margin-left: 40px;
}
.userInfo > img {
  margin-left: 40px;
}
.edit_img {
  height: 20px;
}
.edit_img:hover {
  cursor: pointer;
}
.profile_hr {
  display: inherit !important;
  width: 350px;
}
.r_points_div > div > h5 {
  color: var(--text-bluegreen) !important;
  margin-top: 4px !important;
}
.redeem_head > h5 {
  margin-bottom: 0px;
  text-align: center;
  margin-top: 10px;
}

.redem_cards_scroll {
  max-height: 450px;
  overflow-y: scroll;
}
.redem_cards_scroll::-webkit-scrollbar {
  width: 5px;
}

/* balance card css  */

.blnce_card_div {
  background-color: var(--bg-white);
  box-shadow: 0px 0px 10px gainsboro;
  border-radius: 7px;
  padding: 15px;
  text-align: center;
  margin-top: 20px;
}

.blnce_head {
  display: flex;
  justify-content: space-between;
}
.blnce_head > h6 {
  margin-top: 5px;
  font-weight: 600;
}
.blnce_btn {
  padding: 5px 15px;
  background-color: #34b299;
  color: var(--bg-white);
  border-radius: 3px;
  font-size: 0.9em;
  height: 35px;
  border: none;
}
.blnce_card_div > p {
  color: #8c9cb5 !important;
  font-size: 0.8em;
  margin-bottom: 0px;
}
.blnce_card_div > h3 {
  font-weight: 900 !important;
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 2.2em;
}

/* redeem pints card css  */

.redeem_card_maindiv {
  background-color: var(--bg-white);
  box-shadow: 0px 0px 15px rgb(214, 214, 214);
  border-radius: 3px;
  padding: 15px;
  margin-top: 10px;
}
.redeem_card_maindiv > h5 {
  margin-bottom: 0px;
}
.redeem_card_maindiv > p {
  margin-bottom: 0px;
  color: #7b8193;
  margin-top: 2px;
  font-size: 0.9em;
}
.r_points_div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.r_points_div > div {
  display: flex;
}
.r_points_div > div > p {
  font-size: 0.8em;
  color: #7b8193;
  margin-top: 5px;
  color: #7b8193;
  margin-left: 5px;
  margin-bottom: 0px;
  margin-top: 7px;
}
.r_points_div > div > h5 {
  color: #34b299;
  margin-bottom: 0px;
  margin-top: 2px;
}

/* account setting page  */

.acount_main_div {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  margin: 30px 150px;
}

/* account setting card css  */

.account_seting_card_div {
  width: 640px;
  margin-top: 50px;
  margin-left: 30px;
}
.acount_seting_card {
  display: flex;
  padding: 10px 20px;
  padding-right: 15px;
  padding-bottom: 10px;
  background-color: #f4f5f9;
  box-shadow: 0px 0px 10px gainsboro;
  border-radius: 9px;
  margin-top: 20px;
  height: 110px;
}

.acount_seting_card > img {
  width: 45px;
  height: 45px;
  margin-top: 10px;
}
.seting_para {
  margin-left: 25px;
  width: 100%;
  margin-top: 10px;
  position: relative;
  padding-bottom: 20px;
}
.seting_para > h6 {
  margin-bottom: 0px;
}
.seting_para > p {
  margin-bottom: 0px;
  font-size: 0.9em;
  color: #7b8193;
}
.arrow_icon_seting {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.acount_seting_card:hover {
  cursor: pointer;
}

.width .user_card_detail_div {
  justify-content: flex-end !important;
}

/* profile setting page css  */

/* profile setting card comp  */

.proSetting_head_div {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  width: 640px;
}
.proSetting_head_div > div {
  display: flex;
}
.proSetting_head_div > div > img {
  width: 20px;
  height: 17px;
  margin-top: 20px;
}
.proSetting_head_div > div:hover {
  cursor: pointer;
}
.proSetting_head_div > div > h6 {
  margin-top: 20px;
  margin-left: 8px;
  font-weight: bold;
  margin-bottom: 0px;
}
.proSetting_head_div > div > p {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 15px;
}
.profile_setting_inps_div {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background-color: #f4f5f9;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px gainsboro;
  padding-bottom: 50px;
}
.profile_setting_inps {
  display: flex;
  flex-direction: column;
  width: 357px;
}
.profile_setting_inps > div {
  display: flex;
  justify-content: space-between;
}
.profile_setting_inps > div > input {
  width: 170px;
  border: none;
  outline: none;
  background-color: var(--bg-white);
  padding: 7px 10px;
  border-radius: 3px;
}
.profile_setting_inps > input {
  border: none;
  outline: none;
  background-color: var(--bg-white);
  padding: 7px 10px;
  margin-top: 10px;
  border-radius: 3px;
}
.profile_setting_inps > select {
  border: none;
  outline: none;
  background-color: var(--bg-white) ;
  padding: 7px 10px !important;
  margin-top: 10px;
  border-radius: 3px;

    -webkit-appearance: none;
    -moz-appearance: none;
    /* background: transparent; */
    background-image: url("data:image/svg+xml;utf8,<svg fill='lightgreen'  height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
}
.profile_setting_inps > textarea {
  border: none;
  outline: none;
  background-color: var(--bg-white);
  padding: 7px 10px;
  margin-top: 10px;
  border-radius: 3px;
}
.profile_setting_inp_img > h6,
.profile_setting_inps > h6 {
  font-weight: bold;
}
.profile_setting_inp_img > input {
  display: none;
}
.profile_setting_inp_img > label > img:hover {
  cursor: pointer;
}
.profile_setting_inp_img > label > img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 230px;
  object-fit: contain;
}
.upload_profile {
  padding: 6px 30px !important;
  text-align: center;
  margin: 5px 40px;
}
.profile_seting_card_div{
  margin-left: 30px;
}

/* security page css  */

.notifications_main_div {
  width: 330px;
}
.security_change_pass {
  width: 260px;
}
.notification_ul {
  margin-top: 30px;
}
.notification_ul > li > div {
  display: flex;
  justify-content: space-between;
}
.notification_ul > li {
  margin-top: 20px;
}
.notification_ul > li > div > h6 {
  font-weight: 700;
}
.notification_ul > li > p {
  margin-bottom: 0px;
  color: #7b8193;
  font-size: 0.9em;
}
.MuiSwitch-root {
  margin-top: -8px;
}
.MuiSwitch-colorPrimary.Mui-checked {
  color: #34b299 !important;
}

.MuiSwitch-track {
  background-color: #d9dcec !important;
}

.notifications_card {
  width: 640px;
}
.profile_setting_inps .upcoming_btn,
.change_pas_inp_div .upcoming_btn {
  display: none !important;
}
.security_seting_head_div .upcoming_btn {
  display: block !important;
}
.seting_head_mob_view {
  display: none;
}

.notifications_card .upcoming_btn,
.mobProposalCard {
  display: none;
}

@media screen and (max-width: 1215px) {
  .main_profile_com,
  .acount_main_div {
    margin: 20px 30px;
  }
  .posts_ccard_div
   {
    width: 700px;
    /* border: 2px solid red; */
  }
  .account_seting_card_div{
    width: 550px;
  }
  .width {
    width: 15rem;
  }
  /* .width_proposal,
  .profile_proposal_card {
    width: 260px;
  } */
  .profile_proposal_card > .head_div_grid > .proposal_card_head {
    font-size: 1em;
  }
  .your_post_btn,
  .reportProblm_btn {
    padding: 6px 20px;
    font-size: 0.9em;
  }
  .list_profile_proposal {
    width: auto;
  }
  .edit_div {
    left: -85px;
  }
}
@media screen and (max-width: 1180px) {
  .proSetting_head_div{
    width: 600px;
  }
  .notifications_main_div{
    width: 290px;
  }
  .notifications_card{
    width: 520px;
  }
}
@media screen and (max-width: 980px) {
  .main_profile_com {
    margin: 20px 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .acount_main_div {
    flex-wrap: wrap;
    justify-content: center;
  }
  .notifications_card{
    width: 550px;
  }
.profile_seting_card_div{
  margin-left: 0px;
}
  .account_seting_card_div {
    width: 100%;
    margin-left: 0px;
  }
  .posts_ccard_div {
    width: 100%;
  }
  .width {
    width: 15rem;
  }
  .width_proposal,
  .profile_proposal_card {
    width: 260px;
  }
  .profile_proposal_card > .head_div_grid > .proposal_card_head {
    font-size: 1em;
  }
  .your_post_btn,
  .reportProblm_btn {
    padding: 6px 20px;
    font-size: 0.9em;
  }
  .profile_card_main_div {
    width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .profile_card_main_div {
    width: 100%;
  }
  .width_proposal,
  .profile_proposal_card {
    width: 330px;
  }
  .width {
    width: 13rem;
  }
}
@media screen and (max-width: 710px) {
  .width_proposal,
  .profile_proposal_card {
    width: 280px;
  }
  .issue_card_container {
    justify-content: flex-start;
  }
  .width {
    width: 13rem;
    margin: 10px;
  }
  .list_issue_body > div > .issue_list_para {
    font-size: 0.8rem;
  }
  .profile_setting_inps_div {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .notifications_card {
    width: 450px !important;
    text-align: start !important;
  }
  .proSetting_head_div {
    width: 100%;
  }
  .profile_setting_inp_img {
    text-align: center;
  }
  .profile_setting_inps {
    margin-top: 20px;
  }
}
@media screen and (max-width: 520px) {
  .posts_ccard_div {
    padding: 0px;
    margin-left: 0px;
  }
  .your_post_btn,
  .reportProblm_btn,
  .grn_bg {
    padding: 6px 8px;
    font-size: 0.9em;
  }
  .textGrey {
    font-size: 0.9em;
    margin-top: 5px;
  }
  .width {
    width: 12rem;
  }
  .width > .issue_card_body > .card_title_div > h5 {
    font-size: 1rem;
  }
  .width > .issue_card_user > div > p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 500px) {
  .desktop_proposal {
    display: none;
  }
  .mobProposalCard {
    display: block;
  }
  .r_points_div,
  .r_points_div > div {
    flex-direction: column;
  }
  .acount_main_div .profile_card_container .profile_card_main_div .profile_hr {
    display: none !important;
  }
  .acount_main_div
    .profile_card_container
    .profile_card_main_div
    .balance_card_container {
    display: none !important;
  }
  .acount_main_div .profile_card_container .profile_card_main_div .redeem_head {
    display: none !important;
  }
  .acount_main_div
    .profile_card_container
    .profile_card_main_div
    .redem_cards_scroll {
    display: none !important;
  }
  .acount_main_div .profile_card_main_div {
    width: 350px !important;
  }
  .account_seting_card_div {
    margin: 0px;
  }
  .main_profile_com {
    margin: 20px 15px;
  }
  .userInfo {
    width: 100%;
  }
  .redeem_card_maindiv {
    text-align: center;
    width: 180px;
    margin: 15px 5px;
  }
  .profile_card_main_div {
    margin: 30px auto;
    width: 100% !important;
  }
  .profile_hr {
    width: 250px;
  }
  .redem_cards_scroll {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    width: 350px;
  }
  .redem_cards_scroll > div {
    width: 100%;
  }
  .redeem_card_maindiv {
    padding: 10px 8px;
  }
  .blnce_btn {
    padding: 6px 5px !important;
  }
  .redeem_card_maindiv > h5 {
    font-size: 1em;
  }
  .redeem_card_maindiv > p {
    font-size: 0.8em;
  }
  .width_proposal,
  .profile_proposal_card {
    width: 200px;
  }
  .width_proposal h5 {
    font-size: 1em;
  }
  .width_proposal p,
  .width p {
    font-size: 0.8em;
    margin-bottom: 10px;
  }
  .width_proposal .card_title_div {
    padding-top: 0px;
  }
  .width_proposal {
    padding: 10px;
  }
  .width_proposal .perticipant_div span {
    font-size: 0.7em;
  }
  .width_proposal h5 {
    font-size: 0.9rem;
  }
  .width_proposal div {
    margin-top: 5px;
  }
  .head_div_grid h5 {
    font-size: 0.9em;
  }
  .tagle_div,
  .toggle_div {
    display: none;
  }
  .your_issues_card_div > .issue_card_container {
    margin-left: -10px;
  }
  .width_proposal .perticipant_div {
    flex-wrap: wrap;
  }
  .width .card_num {
    top: 90px;
  }
  .width {
    margin: 10px 5px;
  }
  .seting_head_mob_view {
    display: block;
  }
  .seting_head_desktop {
    display: none;
  }
  .profile_setting_inps_div .notifications_main_div {
    display: none !important;
  }
  .security_change_pass {
    width: 350px !important;
  }
  .notifications_card {
    width: 350px !important;
    text-align: start !important;
  }
  .noti_card_head_div .upcoming_btn {
    display: none;
  }
  .notifications_card .upcoming_btn {
    display: block !important;
    margin: 20px auto;
  }
}

@media screen and (max-width: 420px) {
  .profile_card_main_div {
    margin: 30px 5px;
    width: 100% !important;
  }
  .redem_cards_scroll {
    width: 310px;
  }
  .blnce_card_div{
    margin-top: 15px;
  }
  .profile_hr{
    display: none !important;
  }
  .posts_ccard_div{
    margin-top: 0px;
  }
  
  .redeem_head > h5{
    text-align: start;
    font-size: 1rem;
  }
  .blnce_card_div > h3 {
    font-size: 1.2em;
  }
  .userInfo > img {
    width: 80px;
  }
  .userInfo > h5 {
    font-size: 1em;
  }
  .userInfo > p {
    font-size: 0.9em;
  }
  .redeem_card_maindiv {
    text-align: center;
    width: 150px;
    margin: 15px 5px;
  }
  .blnce_head > div {
    display: none;
  }
  .width {
    width: 11rem;
    margin: 10px;
    margin-left: 15px;
    margin-right: 0px;
  }
  .your_issues_card_div .list_style_img {
    height: 80px !important;
  }
  .pro_proposal_card_container .perticipant_div {
    justify-content: center !important;
  }
  .pro_proposal_card_container .perticipant_div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2px 10px;
  }
  .width_proposal {
    width: 180px;
  }
  .pro_proposal_card_container .perticipant_div div img {
    width: 15px;
    text-align: center;
    margin: 0px auto;
  }
  .pro_proposal_card_container .perticipant_div div span {
    margin-left: 0px;
  }
  .proSetting_head_div .upcoming_btn {
    display: none;
  }
  .profile_setting_inps_div .upcoming_btn {
    display: block;
    margin: 20px auto;
  }
  .profile_setting_inps {
    width: 100%;
  }
  .profile_setting_inps_div {
    padding: 15px 10px;
    width: 350px;
  }
  .name_inps > input {
    width: 150px !important;
  }
  .change_pas_inp_div .upcoming_btn {
    display: block !important;
  }
  .security_seting_head_div .upcoming_btn {
    display: none !important;
  }
  .security_change_pass {
    width: 320px !important;
  }
  .notifications_card {
    width: 330px !important;
    text-align: start !important;
  }
  .reportProblm_btn {
    font-size: 0.8rem;
  }
  .topic_head_div h5 {
    font-size: 1.1rem;
    margin-top: 5px;
  }
  .textGrey {
    font-size: 0.8rem;
  }
  .proposal_list_body .card-text {
    font-size: 0.8rem;
  }
  .pro_list_loc {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 400px) {
  .profile_card_comp_div {
    width: 300px;
    margin: 0px auto;
  }
  .profile_card_main_div {
    margin: 30px auto;
    width: 300px;
  }
  .redem_cards_scroll {
    width: 250px;
  }
  .posts_btn_div {
    flex-wrap: wrap;
  }
  .your_post_btn,
  .grn_bg {
    margin: 5px 0px;
    margin-left: 5px;
    font-size: .75rem;
  }
  .width {
    width: 15rem;
  }
  .your_issues_card_div > .issue_card_container {
    justify-content: center;
  }
  .width_proposal {
    width: 100%;
  }
  .pro_proposal_card_container .perticipant_div div {
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px;
  }
  .pro_proposal_card_container .perticipant_div div img {
    width: 15px;
    height: 15px;
    text-align: start;
    margin: 0px;
  }
  .pro_proposal_card_container .perticipant_div div span {
    margin-left: 5px;
    font-size: 0.8rem;
  }
  .pro_proposal_card_container .perticipant_div {
    justify-content: space-between !important;
  }
  .proposal_list_body p {
    font-size: 0.7rem;
    margin-bottom: 0px;
  }
  .proposal_list_body .pro_list_loc .list_perticipant div span,
  .proposal_list_body .proposal_list span {
    font-size: 0.7rem;
  }
  .proposal_list_body .pro_list_loc .list_perticipant,
  .proposal_list_body .proposal_list {
    margin-top: 5px;
  }
  .proposal_list_body .card_title_div {
    padding-top: 0px !important;
  }
}

@media screen and (max-width: 400px) {
  .profile_card_comp_div {
    width: 100%;
    margin: 0px auto;
  }
  .profile_card_main_div {
    width: auto;
  }
  .redem_cards_scroll {
    width: 100%;
  }
  .profile_hr {
    width: 200px;
  }
}
@media screen and (max-width: 380px) {
  .main_profile_com,
  .acount_main_div {
    margin: 15px;
  }
  .acount_main_div .profile_card_main_div {
    width: 100% !important;
  }
  .seting_cards_div p {
    font-size: 0.7rem;
  }
  .profile_setting_inps_div {
    padding: 15px 10px;
    width: 300px;
  }
  .name_inps > input {
    width: 125px !important;
  }
  .security_change_pass {
    width: 280px !important;
  }
  .notifications_card {
    width: 290px !important;
  }
  .notification_ul li p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 330px) {
  .profile_setting_inps_div {
    padding: 15px 10px;
    width: 280px;
  }
  .name_inps > input {
    width: 115px !important;
  }
  .security_change_pass {
    width: 250px !important;
  }
  .notifications_card {
    width: 270px !important;
  }
}
@media screen and (max-width: 310px) {
  .topic_head_div h5 {
    font-size: 1rem;
  }
}
