.postconsensus_home > div {
  width: 645px !important;
}

#box1:checked + label,
#box2:checked + label,
#box3:checked + label {
  border: 1px solid #0ac718;
}

#box1:checked + label .c_dot {
  display: block !important;
}

#box2:checked + label .c_dot {
  display: block !important;
}

#box3:checked + label .c_dot {
  display: block !important;
}

.consensus_validation {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 4rem 0 2rem 0;
  justify-content: center;
}

.consensus_validation span {
  color: #DC1E25;
  font-size: 0.9rem !important;
}

.co_box {
  width: 100%;
}

.co_option_box {
  display: flex;
  justify-content: space-between;
}

.form-select::after {
  content: "";
  color: red !important;
}

.postconsensus_opt > div {
  width: 650px !important;
}

.pp_tabs_main 
.cs_tab_box .c_dot {
  right: -20px !important;
}
 

.co_option_box .form-select {
  width: 28%;
}

.co_option_box input {
  width: 70%;
}

.co_option_box input::placeholder {
  padding-left: 10px;
  font-size: 0.8rem;
  color: #bdc3d3;
}

.postconsensus_opt .pcontinue_btn button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.postconsensus_home .cs_tab_box {
  width: 65%;
}

.d_audience {
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.d_audience > div {
  width: 100%;
}

.d_aud_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.da_1 {
  display: flex;
  justify-content: space-between;
  width: 64%;
}
.da_2 {
  width: 31%;
}

.d_audience .da_1 > .dnum_box {
  width: 20%;
  height: 40px;
  position: relative;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8792af;
  border-radius: 5px;
}

.d_audience > .d_aud_box > .dnum_box1 {
  width: 30%;
  height: 40px;
  position: relative;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8792af;
  border-radius: 5px;
}

.d_aud_box .c_dot {
  width: 7px;
  height: 7px;
}

.d_audience h2 {
  font-size: 0.9rem;
}

.d_audience .da_2 input::placeholder {
  text-align: center;
  color: #8792af;
  font-size: 0.9rem;
}

.d_audience .da_2 input {
  border: 1px solid #9ba3cc !important;
  text-align: center;
  border-radius: 5px;
  height: 40px;
}

.d_audience .da_2 input:focus {
  outline: none;
}

.d_date_time {
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.d_date_time h2 {
  font-size: 0.9rem;
}

.dt_box {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.dt_box > .dt_box_input {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.input_img {
  position: relative;
}

.dt_box > .dt_box_input .input_img > input {
  height: 40px;
  width: 310px;
  border: 1px solid #20c0a0 !important;
  border-radius: 3px;
  margin: 0.3rem 0;
  padding-left: 1rem;
  outline: none;
}

.dt_box > .dt_box_input input::placeholder {
  color: #8792af;
  padding-left: 3px;
  font-size: 0.9rem;
}

.dt_box > .dt_box_input .input_img > img {
  position: absolute;
  right: 14px;
  top: 14px;
}

.dt_box_input .co_option_box .form-select {
  height: 40px;
  width: 310px;
  border: 1px solid #20c0a0 !important;
  border-radius: 3px;
}

.other_setting {
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.other_setting h2 {
  font-size: 1rem;
}

.other_setting .s_checkbox {
  position: relative;
}

.other_setting .sc_label > input[type="checkbox"] + *::before {
  position: absolute;
  border-color: #20c0a0;
  left: 0;
}

.other_setting .sc_label {
  margin-left: 30px;
}

.other_setting p {
  font-size: 0.8rem;
  margin-left: 30px;
}

.pct_btn {
  margin-top: 1rem;
}

.post_consensus_receive {
  width: 800px !important;
}

.post_consensus_receive h2 {
  width: 100% !important;
}

.post_consensus_receive .kp_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f4f5f9;
  padding: 1rem 0;
  margin-top: 1rem;
  border-radius: 5px;
  box-shadow: 0px 1px 10px -3px #00000038;
}

.kp_h {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kp_h h2 {
  width: max-content;
  font-size: 1rem;
  margin: 0;
  text-align: left;
}

.kp_h button {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  background-color: transparent;
}

.kp_h button img {
  width: 12px;
  height: 12px;
  object-fit: contain;
  margin-right: 10px;
}

.kp_h button span {
  font-size: 0.8rem;
  font-weight: bold;
}

.kp_text {
  width: 90%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.kp_text > div {
  display: flex;
  background-color: #d5d9ea;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.kp_text > div img {
  width: 12px;
  height: 12px;
  object-fit: contain;
}

.kp_text span {
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: 10px;
}

.kp_para {
  width: 90%;
  margin: 0 auto;
}

.kp_para p {
  font-size: 0.8rem;
  margin-top: 1rem;
  text-align: left;
}

.c_loc {
  width: 15px !important;
  height: 15px;
  object-fit: contain;
}

.post_consensus_receive .pcontinue_btn {
  flex-direction: column;
  margin: 2rem 0;
}

.post_consensus_receive .pcontinue_btn button {
  width: 200px;
  height: 40px;

  font-size: 0.8rem;
  margin: 0.5rem 0;
}

.pcon_btn button {
  width: max-content;
}

.pcr_btn {
  width: 100%;
}

.pcr_btn a {
  margin: 0 10px;
}

.pcr_btn a button {
  font-weight: bold;
}

@media (max-width: 825px) {
  .post_consensus_receive {
    width: 95% !important;
  }
}
@media (max-width: 700px) {
  .postconsensus_home > div {
    width: 490px !important;
  }
  .pp_tabs_main {
    flex-wrap: wrap;
    height: 350px;
    overflow-y: scroll;
  }
  .pp_tabs_main::-webkit-scrollbar {
    width: 5px;
  }
  .pp_tabs_main::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(199, 199, 199);
  }

  .pp_tabs_main::-webkit-scrollbar-thumb {
    background: #1cc1a0;
    border-radius: 10px;
  }

  .pp_tabs_main .cs_tab {
    width: 46%;
  }
  .postconsensus_opt {
    margin: 8rem 0;
  }
  .postconsensus_opt > div {
    width: 508px !important;
  }
  .co_option_box .form-select {
    height: 36px;
    width: 141px;
  }
  .co_option_box > .full_input {
    height: 100px;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0.4em;
    padding-right: 0.4em;
  }

  .co_option_box > .full_input:focus {
    outline: none;
  }
  .d_audience {
    width: 100%;
  }
  .d_aud_box {
    flex-direction: column;
    align-items: center;
  }
  .da_1 {
    width: 100%;
  }
  .da_2 {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .d_audience .da_2 input {
    width: 100%;
  }
  .d_date_time {
    width: 100%;
  }
  .dt_box {
    width: 100%;
  }
  .dt_box_input {
    flex-direction: column;
  }
  .input_img {
    width: 100%;
  }
  .dt_box > .dt_box_input .input_img > input {
    width: 100%;
  }
  .m_dt_box_input {
    flex-direction: row;
    width: 100%;
  }
  .m_dt_box_input .co_option_box {
    width: 48%;
  }
  .other_setting {
    width: 100%;
  }
  .d_audience > .d_aud_box > .dnum_box1 {
    margin-top: 1rem;
    width: 100%;
  }

  .dt_box_input1 {
    display: flex;
    flex-direction: unset;
  }
  .dt_box_input1 .co_option_box {
    display: flex;
    width: 48%;
    justify-content: space-between;
  }
}

@media (max-width: 530px) {
  .postconsensus_home > div {
    width: 400px !important;
  }
  .pp_tabs_main .cs_tab_box {
    height: 115px;
  }
  .pp_tabs_main .cs_tab_box .c_dot {
    right: -14px !important;
  }
  .postconsensus_opt > div {
    width: 396px !important;
  }
  .co_option_box > .full_input {
    width: 58%;
  }
}

@media (max-width: 425px) {
  .postconsensus_home > div {
    width: 360px !important;
  }
  .post_consensus .pcontinue_btn {
    flex-direction: column-reverse;
  }
  .post_consensus .pcontinue_btn button {
    margin: 0.5rem 0;
  }
  .postconsensus_opt .cs_text h2 {
    font-size: 1rem;
  }
  .postconsensus_opt > div {
    width: 340px !important;
  }
  .co_option_box .form-select {
    width: 134px;
    font-size: 0.8rem;
  }
  .postconsensus_opt .pcontinue_btn {
    flex-direction: column-reverse;
    align-items: center;
  }
  .postconsensus_opt .pcontinue_btn .me-3 {
    margin-right: 0 !important;
  }
  .postconsensus_opt .pcontinue_btn button {
    margin: 0.5rem 0 !important;
  }
  .pc_time {
    margin: 12rem 0;
  }
  .kp_h h2 {
    font-size: 0.9rem !important;
  }
  .kp_h button img {
    margin-right: 6px;
  }
}

@media (max-width: 395px) {
  .pp_tabs_main {
    padding: 50px 5px;
  }
  .postconsensus_home > div {
    width: 320px !important;
  }
  .pp_tabs_main .cs_tab_box {
    height: 102px;
  }
  .pp_tabs_main .cs_tab_text h2 {
    font-size: 0.7rem;
  }
  .pp_tabs_main .cs_tab_text p {
    font-size: 0.7rem;
  }
  .postconsensus_opt > div {
    width: 294px !important;
  }
  .co_option_box > .full_input {
    width: 50%;
  }
  .p_receive_main p {
    font-size: 0.6rem !important;
  }
  .post_consensus_receive {
    width: 92% !important;
  }
}

@media (max-width: 350px) {
  .postconsensus_home > div {
    width: 291px !important;
  }
  .postconsensus_home .cs_tab_box {
    width: 77% !important;
  }
  .kp_h h2 {
    font-size: 0.7rem !important;
  }
  .post_consensus_receive {
    width: 91% !important;
  }
}
