.terms_and_cond_container {
  max-width: 1400px;
  margin: 0 auto;
}

.terms_and_cond_main_div {
  margin: 50px 138px;
  display: flex;
  justify-content: space-between;
}

.terms_one_box_div {
  margin-top: 30px;
  margin-right: 10px;
  box-shadow: 0px 0px 5px gainsboro;
  border-radius: 7px;
  padding: 10px 15px;
  width: 580px;
  max-height: 70vh;
  overflow-y: scroll;
  font-size: 0.9em;
  color: #b0b7cb;
}

.term_note_para {
  font-weight: 600;
  color: black;
  padding: 8px 20px;
  padding-bottom: 0px !important;
}
.terms_para_div > p {
  background-color: #f5f6fa;
  padding: 8px 20px;
}
.term_copyright_div1 {
  padding: 8px 20px;
}
.terms_one_box_div::-webkit-scrollbar {
  width: 10px;
}
.terms_two_div {
  margin-top: 20px;
}
.terms_two_box_para_div {
  padding: 10px 20px;
  margin-top: 20px;
  box-shadow: 0px 0px 5px gainsboro;
  border-radius: 8px;
  width: 400px;
  background-color: #ebedf5;
  color: #5f677c;
}

@media screen and (max-width: 1125px) {
  .terms_and_cond_main_div {
    margin: 50px 20px;
  }
}
@media screen and (max-width: 1040px) {
  .terms_and_cond_main_div {
    margin: 50px 20px;
  }
  .terms_one_box_div {
    width: 480px;
  }
}
@media screen and (max-width: 940px) {
  .terms_and_cond_main_div {
    margin: 50px 20px;
    flex-wrap: wrap;
  }
  .terms_one_box_div {
    margin: 20px auto;
    width: 700px;
  }
  .terms_two_box_para_div {
    width: 700px;
  }
}
@media screen and (max-width: 750px) {
  .terms_and_cond_main_div {
    margin: 50px 20px;
    flex-wrap: wrap;
  }
  .terms_one_box_div {
    margin: 20px auto;
    width: 100%;
  }
  .terms_two_box_para_div {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .terms_and_cond_main_div {
    margin: 50px 20px;
    flex-wrap: wrap;
  }
  .terms_one_box_div {
    margin: 20px auto;
    width: 100%;
  }
  .terms_two_box_para_div {
    width: 100%;
  }
  .term_note_para {
    padding: 10px 5px;
  }
  .terms_one_box_div {
    padding: 8px;
  }
  .terms_two_box_para_div,
  .term_copyright_div1 {
    padding: 10px;
  }
  .terms_para_div > p {
    padding: 10px;
  }
  .terms_sub_head_div h5 {
    font-size: 1.1rem;
  }
  .terms_two_box_para_div,
  .term_copyright_div1,
  .terms_para_div {
    font-size: 0.8rem;
  }
  .term_note_para p {
    margin-bottom: 5px;
  }
  .term_note_para {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 340px) {
  .terms_and_cond_main_div {
    margin: 50px 10px;
    flex-wrap: wrap;
  }
}
