.survey_page_main_div {
  margin: 50px 150px;
}
.survey_links_div {
  display: flex;
  justify-content: space-between;
}

.participate_btn {
  margin-top: 30px !important;
  background-color: #1cc1a0;
  color: var(--bg-white);
  font-size: 0.9em;
  margin-top: 8px;
  padding: 5px 15px !important;
  border-radius: 4px;
}
.survey_card_list_ {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.survey_single_card_body {
  width: 420px !important;
  background-color: var(--bg-white);
  height: fit-content;
}
.survey_page_main_div .get_blog_one_link{
  color: #9BA3CC;
}
.survey_single_card_body .card-text{
  color: #2C2C2C !important;
}
.locatio_main_div > img {
  width: 15px !important;
  height: 20px !important;
  margin-top: 2px;
}
.survey_single_card_body .locatio_main_div > span {
  margin-left: 10px;
  color: #5F677C;
}
.survey_user {
  margin-top: 0px !important;
}
.survey_single_title > div > p {
  font-size: 0.9em;
  color: #8c9cb5;
  margin-top: 5px;
}
.survey_list_div > .survey_caard_ul {
  width: 600px !important;
  margin-top: 20px;
  max-height: 80vh !important;
  box-shadow: 0px 0px 5px gainsboro;
  border-radius: 8px;
}
.card_link > li > p {
  margin-bottom: 5px;
  margin-top: 10px;
  color: #2C2C2C;
}
.survey_caard_ul > li:hover {
  cursor: pointer;
}
.health_checkbox {
  padding-left: 10px;
}
.health_checkbox > span {
  margin-left: 10px;
  font-size: 1em;
  color: #5F677C;
}

.full_page_list {
  width: 100% !important;
  max-height: 65vh !important;
  margin-top: 30px;
  box-shadow: 0px 0px 7px gainsboro;
  border-radius: 9px;
}
.survey_caard_ul::-webkit-scrollbar,
.full_page_list::-webkit-scrollbar {
  width: 10px;
}
/* Track */
.survey_caard_ul::-webkit-scrollbar-track,
.full_page_list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(199, 199, 199);
}

/* Handle */
.survey_caard_ul::-webkit-scrollbar-thumb,
.full_page_list::-webkit-scrollbar-thumb {
  background: #1cc1a0;
  border-radius: 10px;
}

.submitIusse_btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.white_btn {
  background-color: var(--bg-white);
  border: 1px solid #1cc1a0;
  color: #1cc1a0;
  padding: 5px 30px;
  border-radius: 3px;
}
.grn_btn {
  background-color: #1cc1a0;
  color: var(--bg-white);
  border-radius: 3px;
  padding: 6px 30px;
  margin-left: 15px;
}

.survey_mob_user {
  display: none;
}

.survey_hr_2 {
  display: none;
}

@media screen and (max-width: 1125px) {
  .survey_page_main_div {
    margin: 50px 30px;
  }
  .survey_single_card_body {
    width: 400px !important;
  }
  .survey_list_div > .survey_caard_ul {
    width: 520px !important;
  }
}

@media screen and (max-width: 1000px) {
  .survey_page_main_div {
    margin: 50px 30px;
  }
  .survey_single_card_body {
    width: 350px !important;
  }
  .survey_list_div > .survey_caard_ul {
    width: 450px !important;
  }
  .survey_single_card_body > .card-text {
    font-size: 0.9rem;
  }
  .survey_single_card_body > .survey_single_title > div > p {
    font-size: 0.7em;
  }
  .survey_single_card_body > .survey_single_title > h5 > strong {
    font-size: 0.9em;
  }
  .survey_single_card_body > .perticipant_div,
  .survey_single_card_body > .survey_user {
    font-size: 0.9em;
  }
  .survey_single_card_body > .user_card_detail_div {
    padding: 0px;
  }
}
@media screen and (max-width: 890px) {
  .survey_card_list_ {
    flex-wrap: wrap;
  }
  .survey_single_card_body {
    width: 450px !important;
  }
  .survey_list_div > .survey_caard_ul {
    width: 95% !important;
  }
  .survey_single_card_body > .card-text {
    font-size: 0.9rem;
  }
  .survey_single_card_body > .survey_single_title > div > p {
    font-size: 0.8em;
  }
  .survey_single_card_body > .survey_single_title > h5 > strong {
    font-size: 1em;
  }
}

@media screen and (max-width: 520px) {
  .survey_page_main_div {
    margin: 50px 15px;
  }

  .survey_single_card_body {
    width: 450px !important;
  }
  .survey_list_div > .survey_caard_ul {
    width: 100% !important;
  }
  .survey_single_card_body > .card-text {
    font-size: 0.9rem;
  }
  .survey_single_card_body > .survey_single_title > div > p {
    font-size: 0.8em;
  }
  .survey_single_card_body > .survey_single_title > h5 > strong {
    font-size: 1em;
  }
  .survey_list_div > .health_analysis_ul {
    padding: 10px !important;
  }
}

@media screen and (max-width: 400px) {
  .survey_single_card_body {
    width: 100% !important;
  }
  .survey_single_card_body > .survey_single_title > div,
  .survey_list_user_info_div {
    display: none !important;
  }
  .survey_mob_user {
    display: block !important;
    display: flex !important;
    justify-content: space-between !important;
    margin-top: 15px !important;
  }
  .survey_hr {
    display: none !important;
  }
  .survey_hr_2 {
    border: 1px solid rgb(211, 210, 210);
    width: 100%;
    margin-bottom: 0px !important;
    margin-top: 15px;
    display: block !important;
  }
  .survey_single_card_body > .perticipant_div > div {
    display: flex;
    flex-direction: column;
  }
  .survey_single_card_body > .perticipant_div > div > img {
    width: 15px;
    margin: 0px auto;
  }
  .users_survey {
    height: 15px;
    width: 20px;
  }
  .survey_single_card_body {
    padding: 10px 7px !important ;
  }
  .survey_links_div {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .survey_links_div>div{
    text-align: end !important;

  }
}
