.CP_type_md {
  height: max-content;
}
.pro_type_slct {
  display: flex;
  padding: 0px 15px !important;
}
.pro_type_slct .cs_tab_text {
  margin-left: 10px;
}
/* .pro_type_slct .c_dot{
  right: -87px !important;
} */
.pt_img {
  width: 70px !important;
  height: 50px;
  object-fit: contain;
  margin-right: 10px !important;
}
.pt2_img {
  width: 90px !important;
  height: 70px;
}
.vote_option {
  display: flex;
  align-items: center;
}
.vote_option > select {
  outline: none;
  padding: 7px;
  border-radius: 4px;
  font-size: 0.9rem;
  border: 1px solid #19c2a0;
  margin-top: 15px;
  color: #8792af;
  width: 27%;
}
.vote_option > input {
  margin-left: 10px;
  width: 73%;
}
.other_vote_opt {
  margin-top: 20px;
  text-align: center;
}
.other_vote_opt > button > p:nth-child(1) {
  font-size: 1.5rem;
  margin-bottom: 0px;
}
.other_vote_opt > button {
  margin: 20px auto;
  margin-bottom: 0px;
}
.Auser_cs_tab label {
  width: max-content;
  height: max-content !important;
}
.spcfc_audiance_md {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.custm_aud_inp {
  border: 2px solid #cccccc;
  text-align: center;
  margin-top: 15px;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
}
.spcfc_audiance_md label {
  border: 2px solid #cccccc;
}
.spfc_audiance > p {
  margin-bottom: 0px;
  padding: 7px 0px;
  width: 100px;
  border-radius: 4px;
  text-align: center;
  font-size: 0.9rem;
  color: #8792af;
}

#box5:checked + label,
#box6:checked + label,
#box7:checked + label,
#box8:checked + label {
  border: 2px solid #0ac718;
}
#box5:checked + label .c_dot,
#box6:checked + label .c_dot,
#box7:checked + label .c_dot,
#box8:checked + label .c_dot {
  display: block !important;
}

.spcfc_audiance_md .cs_tab_box .c_dot {
  right: 3px !important;
  width: 6px;
  top: 5px;
}

.othr_stng_ul>li{
    align-items: inherit;
}
.othr_stng_ul>li img{
    height: 40px;
}
.othr_stng_ul .permissions > h6{
    margin-top: 5px;
}
.mob_bm_btn{
  display: none;
}
@media screen and (max-width:1315px){
  .auth_contact_form,.auth_OE_CF{
    margin-left: 7px;
  }
  .assign_role_container{
    /* width: 450px; */
    width: 50%;
  }
  .auth_organizeForm_md{
    width: 436px;
  }
}
@media screen and (max-width:1200px){
  .addUser_detail_md{
    flex-wrap: wrap;
  }
  .auth_contact_form,.auth_OE_CF{
    margin-left: 0px;
  }
  .assign_role_container{
    width: 450px;
  }
  .auth_organizeForm_md{
    width: 450px;
  }
  .add_user_du_conatainer{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .auth_addUSer_right_md{
    padding-right: 20px;
  }
}
@media screen and (max-width:1050px){
  .assign_role_container{
    width: 49%;
  }
  .auth_addUSer_right_md{
    width: 95%;
  }
  .auth_organizeForm_md{
    width: 100%;
  }
  .add_user_du_conatainer{
    margin-top: 0px;
    margin-bottom: 20px;
    width: 49%;
    margin-left: 15px;
  }

 .auth_addUSer_right_md .encovision_head .manage_head{
   display: none;
  }
  .auth_addUSer_right_md .encovision_head{
   justify-content: flex-end;
 }
 .add_user_mp > p{
   margin-bottom: 10px;
 }

 .spfc_audiance > p{
   width: 70px;
 }
 .addUser_Mt label{
   height: max-content !important;
 }
 .addUser_Mt .cs_tab_box .c_dot{
   right: -70px !important;
 }
}
@media screen and (max-width:790px){
  
  .addUser_detail_md{
    max-height: 60vh;
    overflow-y: auto;
  }
  .addUser_detail_md::-webkit-scrollbar{
    width: 5px;
  }
  .assign_role_container{
    margin: 0px auto;
    width: 450px;
  }
  .add_user_du_conatainer{
    width: auto;
    height: auto;
  }
  .auth_organizeForm_md{
    width: 450px;
  }
  .add_user_du_conatainer{
    margin: 20px auto;

  }
  .spfc_audiance > p{
    width: 90px;
  }
  .auth_addUSer_right_md .encovision_head{
    display: none;
  }
  .add_user_mp > p{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 50px;
  }
  .mob_bm_btn{
    display: block;
  }
 .auth_addUSer_right_md .auth_head_btn_md{
   justify-content: center;
   margin-bottom: 20px;
   margin-top: 20px;
   display: flex;
 }
}
@media screen and (max-width:700px){
  .add_user_mp > p{
    margin-left: 40px;
  }
}
@media screen and (max-width:500px){
  .auth_addUSer_right_md{
    padding-right: 10px;
  }
  .assign_role_container{
    margin: 0px auto;
    width: 370px;
  }
  .auth_organizeForm_md{
    width: 370px;
  }
  .spfc_audiance > p{
    width: 70px;
  }
  .auth_organizeForm_md input , .auth_organizeForm_md textarea{
    font-size: .8rem;
  } 
  .permissions > p{
    font-size: .7rem;
  }
}
@media screen and (max-width:400px){
  .assign_role_container{
    margin: 0px auto;
    width: 320px;
    padding: 20px 12px;
  }
  .auth_organizeForm_md{
    width: 320px;
  }
  .pt_img{
    width: 60px !important;
    height: 40px;
  }
  .pro_type_slct .cs_tab_text{
    margin-left: 0px;
  }
  .addUser_Mt .cs_tab_text h2{
    font-size: .9rem;
  }
  .addUser_Mt .cs_tab_text p{
    font-size: .75rem;
  }
  .addUser_Mt .cs_tab_box .c_dot{
    right: -63px !important;
  }
}
@media screen and (max-width:350px){
  .auth_organizeForm_md{
    width: 290px;
    padding: 20px 10px;
  }
  .auth_addUSer_right_md{
    width: 93%;
  }
  .assign_role_container{
    margin: 0px auto;
    width: 290px;
  }
  .spfc_audiance > p{
    width: 50px;
    font-size: .7rem;
  }
  .permissions{
    margin-left: 5px;
  }
  .addUser_Mt .cs_tab_box .c_dot{
    right: -50px !important;
  }
  .pt_img{
    width: 50px !important;
    height: 30px;
  }
  .addUser_Mt .cs_tab_text h2{
    font-size: .8rem;
  }
  .addUser_Mt .cs_tab_text p{
    font-size: .7rem;
  }
}
@media screen and (max-width:330px){
  .auth_organizeForm_md{
    width: 270px;
    padding: 20px 10px;
  }
  .assign_role_container{
    margin: 0px auto;
    width: 270px;
  }
  .add_user_mp > p{
    margin-left: 28px;
  }
}
@media screen and (max-width:310px){
  .auth_organizeForm_md{
    width: 260px;
    padding: 20px 10px;
  }
  .assign_role_container{
    width: 260px;
  }
  .addUser_detail_md{
    margin-left: -10px;
  }
}