.RantComponent_card_content {
  display: flex;
  justify-content: space-around;
  padding: 4px;
}
.RantComponent_card {
  background-color: lightgray;
  padding-top: 8px;
  box-shadow: 0px 0px 5px gainsboro;
  padding-left: 2px;
}
.RantComponent_card_content button {
  padding: 6px 20px;
}
.Rcomments {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0px 0px 5px gainsboro;
}

.Rinput_comment {
  padding: 21px;
  width: 85%;
  border: none;
}

.Rinput_comment:hover {
  border: none;
}
.Rcard_review_component {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.Rcard_content_component {
  padding-top: 22px;
  padding: 13px;
  justify-content: center;
  font-size: 14px;
}

.Rbtn1:focus {
  background-color: #45c1a1 !important;
  color: white !important;
}
.Rbtn_same2:focus {
  background-color: #45c1a1 !important;
  color: white !important;
}
.Rbtn_same:focus {
  background-color: #45c1a1 !important;
  color: white !important;
}

.Rbtn_same,
.btn1 {
  width: 130px;
}

@media only screen and (max-width: 600px) {
  .Rant_component_card {
    width: 100%;
    font-size: 14px;
    height: 370px;
    padding-bottom: 10px;
  }
  .Rbtn1 {
    width: 20px !important;
    font-size: 11px !important;
    margin-left: 12px;
  }
  .Rbtn_same {
    width: 80px !important;
    font-size: 9px !important;
  }

  .Rbtn_same2 {
    width: 97px !important;
    font-size: 11px !important;
  }
  .Ricon_responsive {
    font-size: 17px !important;
    width: 16px !important;
  }

  .Rinput_comment {
    padding: 20px !important;
    width: 78%;
  }

  .Rcard_content_component {
    overflow-y: scroll;
  }
  .RantComponent_card_content {
    display: flex;
    justify-content: space-evenly;
  }
  .RantComponent_card_content button {
    width: 30% !important;
    padding: 6px 0px !important;
  }
}

@media only screen and (max-width: 390px) {
  .Rcard_review_component_text {
    font-size: 0.7rem !important;
  }
  .Rant_component_card {
    width: 100%;
    font-size: 12px;
    height: 370px;
    padding-bottom: 10px;
  }
  .Rbtn_same {
    width: 74px !important;
    font-size: 9px !important;
  }

  .Rbtn1 {
    widows: 10px !important;
    font-size: 9px !important;
    padding: 0 !important;
  }
  .Rbtn_same2 {
    width: 10px !important;
    font-size: 8px !important;
  }
  .Ricon_responsive {
    font-size: 12px !important;
    width: 10px !important;
  }

  .Rresponsive_send_icon {
    font-size: 14px !important;
  }

  .Rresponsive_smie_icon {
    font-size: 14px !important;
  }

  .Rinput_comment {
    font-size: 13px !important;
  }
}
