.report_comnt_sec{
    width: 470px ;
}
.AR_cmnt_slider_md{
    display: flex;
    flex-wrap: wrap;
}
.auth_r_view_head>h5{
    font-weight:bold;
    color: black;
}
.report_cmnt_height{
    /* max-height: 42vh; */
    max-height: 280px;
    overflow-y: auto;
    /* margin-top: 30px; */
    padding-top: 110px;
}
.report_cmnt_height::-webkit-scrollbar{
    width: 5px;
}
.report_view_tL{
    margin-top: 20px;
    margin-left: 20px;
}
.RV_comnt_md{
    margin-top: 20px;
}
.rv_card_head{
    font-weight: bold;
    color: #001758;
}
.RV_card{
    width: 470px;
    padding: 10px 20px;
    /* background-color: #f8f8fa !important; */
    background-color: white !important;
    border-radius: 5px !important;
    /* opacity: 0.9; */
    box-shadow: 0pt 3pt 10pt #00000029 !important;

}
.RV_card_map_img{
    width: 100%;
    margin: 20px 0px !important;
    height: 30vh;
}
.rVp_mobV_userInfo{
    display: none !important;
}

@media screen and (max-width:1260px){
    .report_view_tL{
        margin-top: 0px;
        margin-left: 0px;
    }
}
@media screen and (max-width:1050px){
    .report_view_tL{
        margin-top: 20px;
        margin-left: 20px;
    }
    .auth_r_view_head>h5{
        display: none;
    }
    /* .AR_cmnt_slider_md{
        margin-left: -50px;
    } */
}
@media screen and (max-width:935px){
    .AR_cmnt_slider_md{
        justify-content: center;
    }
   .AR_cmnt_slider_md .Rant_component_card{
       height: inherit;
   }
    .report_view_tL{
        margin-top: 0px;
        margin-left: 0px;
    }
}
@media screen and (max-width:500px){
    .report_comnt_sec,.RV_card{
        width: 93% ;
        margin: 0px auto;
    }
    .AR_timeline_container{
        margin: 0px auto;
        width: 93%;
    }
    .rVp_mobV_userInfo{
        display: block !important;
    }
    .rVp_deskV_userInfo{
        display: none !important;
    }
}
@media screen and (max-width:430px){
    .AR_cmnt_slider_md{
        margin-left: -15px;
    }
    .RV_card{
        padding: 10px;
    }
   .RV_card .ms-2{
       margin-left: 0px !important;
   }
   .RV_card .Rcard_content{
       margin-bottom: 0px;
   }
   .RV_card_map_img{
       margin: 5px auto !important;
   }
   .step1Head>p{
       font-size: .65rem;
   }
   .step1Head>h6,.TL_uName>h6{
       font-size: .8rem;
       font-weight: bold;
   }
   .TL_uName>p{
       font-size: .7rem;
   }
   .AR_timeline_container{
       padding: 20px 10px;
   }
   .MuiTimelineContent-root{
       padding: 6px !important;
   }
   .timeline_step4_btn>button{
       font-size: .7rem;
   }
}
@media screen and (max-width:330px){
    .MuiTimelineItem-missingOppositeContent:before{
        padding: 0px !important;
    }
    .MuiTimelineDot-defaultGrey>img{
        width: 20px;
        object-fit: contain;
    }
}