/* font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
body {
  font-family: "Poppins", sans-serif !important;
}

input::placeholder {
  color: #8792af;
  font-size: 0.9rem;
}

button {
  border-radius: 5px !important;
}

:root{
  --bg-lightgreen:#20c0a0;
  --bg-blue:#014c9d;
  --bg-red:#dc4b3b;
  --bg-white:#ffff;
  --light-purple:#f5f6fa;
  --text-darkblue:#001758;
  --text-bluegreen:#19c2a0;
  --text-lightblack:#353535;
  --text-green:#0ac718;
  --text-darkgray:#5f677c;
  --text-lightgray:#8792af;
  --text-lightpurple:#9ba3cc;
  --text-black:#000000;
  --gray-border:#80808066;
}

.btn:focus {
  outline: none !important;
  box-shadow: none;
}
/* position */

.position_relative {
  position: relative;
}

/* background colors */

.bg_lightgreen {
  background-color: var(--bg-lightgreen) !important;
}

.bg_blue {
  background-color: var(--bg-blue) !important;
}

.bg_red {
  background-color: var(--bg-red);
}

.bg_white {
  background-color: var(--bg-white) !important;
}

.light_purple {
  background-color: var(--light-purple);
}

/* text colors */

.text_darkblue {
  color: var(--text-darkblue);
}

.text_bluegreen {
  color: var(--text-bluegreen) !important;
}

.text_lightblack {
  color: var(--text-lightblack);
}

.text_green {
  color: var(--text-green);
}

.text_darkgray {
  color: var(--text-darkgray);
}

.text_lightgray {
  color: var(--text-lightgray);
}

.text_lightpurple {
  color: var(--text-lightpurple) !important;
} 

.text_black {
  color: var(--text-black) !important;
}

/* border color */

.border_solid {
  border: 1px solid !important;
}

.bluegreen_border {
  border-color: var(--bg-lightgreen) !important;
}

.green_border {
  border-color: var(--text-green) !important;
}

.gray_border {
  border-color:var(--gray-border) !important;
}

.light_purple_border {
  color: var(--text-lightpurple) !important;
}

.border_none {
  border: none !important;
}

/*  */

.cus_num_field p {
  color: var(--bg-lightgreen) !important;
}

.cus_num_field {
  width: 100% !important;
}

.num_form {
  width: 100% !important;
}

/* width */

.cus_width100 {
  width: 150px;
}
