.proposalRightBottom {
  margin-top: 20px;
  margin-bottom: 3rem;
}

.proposalRightBottom .card {
  box-shadow: 0px 0px 5px gainsboro !important;
}

.card {
  padding: 10px;
  width: 500px;
  padding-bottom: 18px;
}

.div_card {
  box-shadow: 2px -2px 6px -3px #ccc;
}
.card_options {
  padding: 14px;
  padding-left: 17px;
  box-shadow: 0px 0px 5px gainsboro !important;
  /* margin-top: 18px; */
}

@media only screen and (max-width: 680px) {
  .Proposal_content_right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .proposalRightComponent {
    width: 500px;
    justify-content: center;
    display: flex;
  }
  .mobprb .card {
    display: none;
  }
  .mob2prb {
    margin-top: -72px !important;
  }
}

@media only screen and (max-width: 600px) {
  .Proposal_content_right {
    padding: 30px;
    flex: unset;
    margin-top: 8rem;
  }
  .proposalRightComponent {
    width: 100%;
  }
  .proposalRightComponent .card {
    width: 100%;
  }
  .proposalRightBottom {
    width: 100%;
  }
  .proposalRightBottom .card {
    width: 100%;
  }
}

@media only screen and (max-width: 503px) {
  .Proposal_content_right {
    margin-top: 7rem;
  }
}

@media only screen and (max-width: 466px) {
  .Proposal_content_right {
    margin-top: 12rem;
  }
}

@media only screen and (max-width: 427px) {
  .Proposal_content_right {
    margin-top: 11rem;
  }
}

@media only screen and (max-width: 390px) {
  .Proposal_content_right {
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 379px) {
  .Proposal_content_right {
    margin-top: 8rem;
  }
}

@media only screen and (max-width: 359px) {
  .Proposal_content_right {
    margin-top: 8rem;
  }
}
